@page "/settings"

<h1>Settings</h1>

<ul class="list-unstyled">
    <li class="mb-2">
        <NavLink class="nav-link p-0" href="/categories">Categories & Subcategories</NavLink>
    </li>
    <li class="mb-2">
        <NavLink class="nav-link p-0" href="/theme">Theme</NavLink>
    </li>
</ul>