@page "/theme"

<div class="mb-2">
    <NavLink href="/settings" class="btn btn-link p-0 text-decoration-none" title="Back to Settings">
        &larr; Back to Settings
    </NavLink>
</div>

<h1>Theme</h1>

<p>Theme settings will go here.</p>